.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 16px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 48px;

  a {
    margin: 0 4px;
  }

  ion-icon {
    font-size: 2rem;
    margin: 4px;
    color: var(--ion-color-button);
  }
}

.list {
  list-style-type: none;
  padding: 0;

  li {
    padding: 4px;
    display: flex;
    align-items: flex-start;
  }
}

.github {
  display: inline-flex;
  justify-content: center;
  align-self: center;

  ion-icon {
    margin-left: 4px;
  }
}

.terms {
  margin: 40px 0 16px;
}

.icon {
  font-size: var(--font-size-big);
  margin-right: 8px;
  min-width: 22px;
}
