{
  "printWidth": 100,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports"]
}
