.picker {
  div:global(.MuiFormControl-root) {
    display: none;
  }
}

.action {
  --border-color: transparent;
  --highlight-color-focused: transparent;

  color: var(--ion-text-color);
  --color: var(--ion-text-color);

  cursor: pointer;

  p {
    font-weight: 300;
  }

  ion-icon {
    color: var(--ion-text-color);
    font-size: 2rem;
  }
}
