.addclient {
  margin-top: 8px;

  &:global(.md) {
    margin: 4px 7px;
  }
}

.toolbar {
  background: transparent;
  --background: transparent;

  &:global(.ios) {
    button {
      height: 36px;
    }
  }

  &:global(.md) {
    button {
      height: 42px;

      ion-icon {
        padding: 0 16px;
      }
    }
  }

  button {
    background: var(--ion-color-light);
    border: 1px solid var(--ion-color-card-border);
    border-radius: 4px;
    --placeholder-opacity: 0.33;
    padding: 0 7px;
    color: var(--ion-text-color);
    width: 100%;
    height: 48px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: var(--ion-color-medium);

    ion-icon {
      font-size: var(--font-size-big);
      padding: 0 4px;
    }
  }

}

.start {
  animation: startAnimation 2.0s linear infinite;
}

@keyframes startAnimation {
  0% {
    --box-shadow: 0 0 16px rgba(255,119,97,0.2);
  }

  50% {
    --box-shadow: 0 0 16px rgba(255,119,97,0.9);
  }

  100% {
    --box-shadow: 0 0 16px rgba(255,119,97,0.2);
  }
}
