.card {
  margin: 16px 0;

  border: 1px solid var(--ion-color-card-border);
  box-shadow: none;

  h2 {
    margin: 0;
    padding: 8px 16px;

    background: var(--ion-color-summary);
    color: var(--ion-color-summary-contrast);

    font-size: var(--font-size-normal);
    font-weight: 300;
  }
}

.title {
  margin-bottom: 0;
  padding-top: 12px;

  &:global(.extended) {
    display: none;
  }
}

.subtitle {
  text-transform: inherit;
}

.header {
  ion-card-title, ion-card-subtitle {
    font-size: var(--font-size-normal);
    font-weight: 300;
  }
}

.summary {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 16px;

  width: calc(100% - 16px);
  height: 100%;

  @media (min-width: 768px) {
    &:global(.extended) {
      grid-template-columns: repeat(3, calc(100% / 3));
    }
  }

  @media (max-width: 768px) {
    label {
      display: none;
    }
  }
}
