deckgo-color {
  @media (min-width: 768px) {
    --deckgo-color-width: 100%;
  }

  --deckgo-color-padding: 0;
  --deckgo-color-button-margin: 4px 8px 4px 0;

  --deckgo-color-input-color: var(--ion-color-light-contrast);
  --deckgo-color-input-background: var(--ion-color-light);
  --deckgo-color-input-box-shadow: none;
  --deckgo-color-hash-background: var(--ion-color-light);
  --deckgo-color-hash-color: var(--ion-color-light-contrast);

  --deckgo-color-input-container-border-radius: 4px;
  --deckgo-color-input-container-border: 1px solid var(--ion-color-card-border);
}
