ion-item.item-input {
  // see input.scss
}

div.MuiPickersToolbar-toolbar, button.MuiPickersDay-current {
  background: var(--picker-background, var(--ion-color-primary));
}

div.MuiPickersToolbar-toolbar button.MuiButton-text {
  color: var(--picker-color, var(--ion-color-dark));
}

button.MuiButton-text {
  color: var(--ion-color-text);
}

button.MuiPickersDay-daySelected, button.MuiPickersDay-daySelected:hover {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

button.MuiPickersDay-current:not(.MuiPickersDay-daySelected), button.MuiPickersDay-current:not(.MuiPickersDay-daySelected):hover {
  background-color: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
}
