div.MuiPickersToolbar-root {
  background: var(--picker-background, var(--ion-color-primary));

  .MuiTypography-overline,
  button.MuiPickersToolbar-penIconButton {
    display: none;
  }

  span,
  button > span[data-selected] {
    color: var(--picker-color, var(--ion-color-dark));

    &.Mui-selected {
      color: var(--picker-color, var(--ion-color-dark));
      font-weight: bold;
    }
  }
}

div.MuiClockPicker-root {
  div.MuiClock-pin,
  div.MuiClockPointer-root,
  span.MuiClockNumber-root.Mui-selected {
    background-color: var(--picker-background);
    color: var(--picker-color);
  }
  div.MuiClockPointer-thumb {
    background-color: var(--picker-color);
    border-color: var(--picker-background);
    color: var(--picker-background);
  }

  .MuiIconButton-root:hover {
    background-color: var(--picker-background);
    color: var(--picker-color);
  }
}

div.MuiDialogActions-root {
  button {
    color: var(--picker-background, var(--ion-text-color));
  }
}

li.MuiButtonBase-root.Mui-selected,
button.MuiPickersDay-root.Mui-selected {
  background-color: var(--picker-background) !important;
  color: var(--picker-color);
}
