ion-item.item-input {
  // see input.scss
}

div.MuiPickersToolbar-toolbar, button.MuiPickersDay-current {
  background: var(--picker-background, var(--ion-color-primary));
}

div.MuiPickersToolbar-toolbar button.MuiButton-text {
  color: var(--picker-color, var(--ion-color-dark));
}

button.MuiButton-text {
  color: var(--ion-color-text);
}
