ion-tab-bar {
  --ion-tab-bar-background: var(--ion-color-summary);
  --ion-tab-bar-color: var(--ion-color-summary-contrast);
}

ion-tab-button {
  --color-selected: var(--ion-color-danger);

  .tab-selected {
    ion-icon {
      color: var(--ion-color-danger);
    }
  }
}

body.dark {
  ion-tab-button {
    --color-selected: var(--ion-color-warning);

    .tab-selected {
      ion-icon {
        color: var(--ion-color-warning);
      }
    }
  }
}
