ion-toolbar.toolbar-searchbar, ion-toolbar.toolbar-title-default {
  --background: transparent;
}

ion-toolbar.title {
  background: transparent;
  --background: transparent;

  h1 {
    margin: 0;
  }
}
