ion-toolbar.toolbar-searchbar, ion-toolbar.toolbar-title-default {
  --background: transparent;
}

ion-toolbar.title {
  background: transparent;
  --background: transparent;

  --padding-start: 0;
  --padding-end: 0;

  h1 {
    margin: 0;
  }
}
