:root {
  --ion-color-primary: #7D457C;
  --ion-color-primary-rgb: 125,69,124;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #6e3d6d;
  --ion-color-primary-tint: #8a5889;

  --ion-color-secondary: #E7E7F1;
  --ion-color-secondary-rgb: 231,231,241;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cbcbd4;
  --ion-color-secondary-tint: #e9e9f2;

  --ion-color-tertiary: #7479A4;
  --ion-color-tertiary-rgb: 116,121,164;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #666a90;
  --ion-color-tertiary-tint: #8286ad;

  --ion-color-success: #00AEAA;
  --ion-color-success-rgb: 0,174,170;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #009996;
  --ion-color-success-tint: #1ab6b3;

  --ion-color-warning: #FFC55F;
  --ion-color-warning-rgb: 255,197,95;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ad54;
  --ion-color-warning-tint: #ffcb6f;

  --ion-color-danger: #E46F74;
  --ion-color-danger-rgb: 228,111,116;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #c96266;
  --ion-color-danger-tint: #e77d82;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
