.item {
  --border-color: transparent;
  border: 1px solid transparent;

  > div {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  ion-label {
    h2, h3, p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--ion-color-text);
    }

    p {
      font-weight: 300;
    }
  }
}
