.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > div {
    margin: 6px;
    width: 24px;
    height: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
