.invoices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;

    ion-card-content {
        ion-label {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            font-weight: 300;
            font-size: var(--font-size-small);

            ion-icon {
                margin-right: 4px;
                color: rgba(var(--ion-color-button-rgb, 0, 0, 0), 0.54);
            }
        }
    }
}

.backup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ion-label {
        font-size: var(--font-size-small);
        margin: 4px 0;
        color: var(--ion-color-button);
    }
}

