.color {
  padding: 8px 0;
  --deckgo-button-more-border: 1px solid var(--ion-color-medium);
}

.summary {
  padding: 0 0 4px 0;

  h2 {
    margin: 0 0 6px;
  }

  ion-label[class*="sc-ion-label"] {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 300;
    font-size: var(--font-size-small);

    ion-icon {
      margin-right: 4px;
      color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.54);
    }
  }
}

.projectItem {
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.projectListTitle,
.projectList,
.clientList {
  margin-bottom: 2px;
}

.projectListTitle {
  margin-top: 8px;

  &:global([class*="list"].inputs-list) {
    ion-item {
      &:global(.item-title) {
        height: inherit;
      }
    }
  }
}

.projectList {
  &:global([class*="list"].inputs-list) {
    background: var(--ion-color-light);
    border: 1px solid var(--ion-color-card-border);
    border-radius: 4px;

    ion-item {
      --padding-start: inherit;
      --inner-padding-end: 8px;
    }
  }
}
